{% extends 'base/base.html' %}
{% load static %}

{% block styles %}
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<link rel="stylesheet" href="{% static 'styles/lessons.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h2>MD5</h2>
    <p>Асимметричное шифрование - это шифрование, использующее два или более ключа. Отличается оно сложностью
        реализации,
        но при этом также намного более надёжно от злоумышленников. Оно является наиболее распространённым в
        современности,
        именно на нём оперируют, например, банки.</p>

    <p>Однако помимо этого в криптографии имеет значение процедура хеширования.
        Она достаточно непонятным образом преобразует текст в набор символов, причём данный процесс не должен
        поддаваться
        угадыванию от кого-либо.</p>

    <p>Как же можно применить что-то настолько непонятное? Например, в авторизации на некотором сайте. Для безопасного
        сайта непозволительно хранить непосредственные пароли в базе данных - ведь тогда легко может произойти утечка от
        кого-то, у кого есть доступ к базе данных. Вместо этого сайт хранит хеш пароля пользователя.
        Таким образом, у злоумышленника есть условие на пароль, но он не может сказать, что за пароль на самом деле.
        Важно учесть, что может быть и такое, что две различные строки дают один и тот же хеш - в таком случае
        злоумышленник
        может маловероятно угадать “второй пароль”.
    </p>

    <p>В частности, одним из методов хеширования является MD5, опирающийся на деление чисел на фрагменты длиной по 512
        бит. С его работой можно ознакомиться ниже.</p>
    <p><b>Пример:</b> 'test' -> '098f6bcd4621d373cade4e832627b4f6' </p>
    <div>
        <form method="post">{% csrf_token %}
            {% for field in form %}
            <p>

                {{field.label_tag}}
                {{field}}

                {% for error in field.errors %}
                <small style="color: red;">{{error}}</small>
                {% endfor %}

            </p><br>
            {% endfor %}
            <button type="submit">Конвертировать</button>
        </form>
        <br>
        <h3><b>Результат: </b>{{result}}</h3>
    </div>
</div>
{% endblock %}