{% extends 'base/base.html' %}
{% load static %}

{% block styles %}
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<link rel="stylesheet" href="{% static 'styles/lessons.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h2>SHA1</h2>
    <p>SHA1 является другим методом хеширования так же, как и MD5. Стоит обратить внимание, что оба данных метода
        являются
        достаточно устаревшими. Многие строки из них давно были 'разгаданы', когда операция должна быть односторонней.
        С этим помогают (или мешают) радужные таблицы, rainbow tables. В интернете их полно.</p>

    <p><b>Пример:</b> 'teacher' -> '4a82cb6db537ef6c5b53d144854e146de79502e8'. Однако если зайти на, например,
        https://crackstation.net/, то точно
        отгадывается изначальное слово.</p>
    <div>
        <form method="post">{% csrf_token %}
            {% for field in form %}
            <p>

                {{field.label_tag}}
                {{field}}

                {% for error in field.errors %}
                <small style="color: red;">{{error}}</small>
                {% endfor %}

            </p><br>
            {% endfor %}
            <button type="submit">Конвертировать</button>
        </form>
        <br>
        <h3><b>Результат: </b>{{result}}</h3>
    </div>
</div>
{% endblock %}