{% extends 'base/base.html' %}
{% load static %}

{% block styles %}
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<link rel="stylesheet" href="{% static 'styles/lessons.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h2>ASCII</h2>
    <p>ASCII (American Standard Code for Information Interchange) является стандартом кодирования символов в
        электротехнике.
        Созданный ещё в 1963 году, он продолжает существование в виде Unicode (на котором работает современный текст в
        интернете, даже этот).</p>
    <p>Задумка проста: составить алфавит и пронумеровать его, после чего каждой букве сопоставить двоичный код (как
        правило, семь-восемь бит).
        Разумеется, можно записывать его и в десятеричной, и в шестнадцатеричной системе счисления. В частности, одним
        из
        хорошо известных расширений является CP1251 правее.</p>
    <p><b>Пример:</b> 'cool шифр' = [c, o, o, l, _, ш, и, ф, р] = 99 111 111 108 32 248 232 244 240 </p>
    <img src="http://nice.artip.ru/sites/default/files/files2/cp1251.png" align="right" width="600px">
    <div>
        <form method="post">{% csrf_token %}
            {% for field in form %}
            <p>

                {{field.label_tag}}
                {{field}}

                {% for error in field.errors %}
                <small style="color: red;">{{error}}</small>
                {% endfor %}

            </p><br>
            {% endfor %}
            <button type="submit">Конвертировать</button>
        </form>
        <br>
        {% if result == "введённые данные некорректны" %}
            <span style="font-size: 28px;">
                <b>Результат: </b>
            </span>
            <span style="color: red; font-size: 28px;">
                {{result}}
            </span>
        {% else %}
            <span style="font-size: 28px;">
                <b>Результат: </b>
            </span>
            <span style="font-size: 28px;">
                {{result}}
            </span>
        {% endif %}
    </div>
</div>
{% endblock %}