{% extends 'base/base.html' %}
{% load static %}

{% block styles %}
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<link rel="stylesheet" href="{% static 'styles/lessons.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h2>Base64</h2>
    <p>Не все компьютеры и их обеспечение воспринимают текст одинаково, из-за чего может произойти ошибка при передаче
        сообщения.
        Даже кодировка ASCII имеет вариации вида CP1251. В таком случае после кодировки в той или иной системе мы
        получаем
        последовательность из нулей и единиц.
        Нам необходимо её переслать другому пользователю в формате, который бы являлся понятным для его системы.</p>
    <p> Здесь и становится полезен Base64, который преобразует бинарный код в 64 (2^6, то есть 6 бит) понятных для
        большинства систем символов.
        Однако каждый символ занимает 1 байт = 8 бит. Таким образом, осуществляется переход от 6 к 8 битам, код
        увеличивается на примерно 33% в объёме, что является
        недостатком метода. Преимущество же в универсальности данной кодировки Base64, которая проходит по порядку: A-Z,
        a-z, 0-9, ‘+’ и ‘/’.
        A берётся за 000000, а ‘/’ за 111111. Также используется ‘=’ для суффикса в виде дополнительных нулей на конце
        строки.</p>
    <p><b>Пример:</b> 'hi' = [h, i] = 104 105 = 01101000 01101001 (Unicode) = 011010 000110 1001(00) = 'aGk='. Так как
        на
        конце не хватало нулей, мы ставим = в конец получившейся строки. </p>
    <img src="https://kara.codes/pics/base64table.png" align="right" height="500px">
    <div>
        <form method="post">{% csrf_token %}
            {% for field in form %}
            <p>

                {{field.label_tag}}
                {{field}}

                {% for error in field.errors %}
                <small style="color: red;">{{error}}</small>
                {% endfor %}

            </p><br>
            {% endfor %}
            <button type="submit">Конвертировать</button>
        </form>
        <br>
        {% if result == "введённые данные некорректны" %}
            <span style="font-size: 28px;">
                <b>Результат: </b>
            </span>
            <span style="color: red; font-size: 28px;">
                {{result}}
            </span>
        {% else %}
            <span style="font-size: 28px;">
                <b>Результат: </b>
            </span>
            <span style="font-size: 28px;">
                {{result}}
            </span>
        {% endif %}
    </div>
</div>
{% endblock %}