{% extends 'base/base.html' %}
{% load static %}

{% block styles %}
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<link rel="stylesheet" href="{% static 'styles/lessons.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h2>Шифр Цезаря</h2>
    <p>Мы ознакомились с несколькими методами кодировок. Обратите внимание: кодирование и шифрование - разные процессы.
        Кодирование фокусируется на том, как записать информацию. Шифрование данную информацию специально скрывает.
        Одним из самых известных шифров является Цезарский: каждый символ сдвигается на некоторое число вперёд по
        алфавиту циклически.
        Из-за цикличности его часто сокращают до ROT(N) от английского слова rotation (поворот), где N - величина
        сдвига.
    </p>
    <p>Примечание: подобный шифр можно реализовать неоднозначно. Можно осуществлять сдвиг не только для букв, но и для
        цифр, но ниже приведён калькулятор, который затрагивает только русский и английский алфавиты.</p>
    <p><b>Пример:</b> ROT(2) для символа 'a' даёт 'в', 'я' переходит в 'б';
        ROT(2) + 'cool шифр' = 'frro ылчу'</p>
    <div>
        <form method="post">{% csrf_token %}
            {% for field in form %}
            <p>

                {{field.label_tag}}
                {{field}}

                {% for error in field.errors %}
                <small style="color: red;">{{error}}</small>
                {% endfor %}

            </p><br>
            {% endfor %}
            <button type="submit">Конвертировать</button>
        </form>
        <br>
        {% if result == "введённые данные некорректны" %}
            <span style="font-size: 28px;">
                <b>Результат: </b>
            </span>
            <span style="color: red; font-size: 28px;">
                {{result}}
            </span>
        {% else %}
            <span style="font-size: 28px;">
                <b>Результат: </b>
            </span>
            <span style="font-size: 28px;">
                {{result}}
            </span>
        {% endif %}
    </div>
</div>
{% endblock %}