{% extends 'base/base.html' %}
{% load static %}

{% block styles %}
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<link rel="stylesheet" href="{% static 'styles/lessons.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h2>Протокол Диффи-Хеллмана</h2>
    <p>Для симметричного шифрования нужен один общий ключ для двух людей. Однако как можно его определить, если на
        практике отсутствует полностью секретный канал общения?
        Для этого был изобрён протокол (алгоритм) Диффи-Хеллмана, который основывается на возведении в степень по
        модулю.</p>

    <p>
        Допустим, что всем публично известны числа P и Q, когда каждый из людей секретно загадал числа A и B.
        Эти люди могут посчитать и публично обменяться значениями P^A (mod Q) и P^B (mod Q).
        Однако в свойство сравнения по модулю и в свойство степени (P^A)^B = P^(AB) = (P^B)^A по модулю Q.
        То есть после обмена можно возвести полученное в степень загаданного числа, после чего получить одно общее числа
        на каждом из концов, что и будет их общим ключом.
    </p>

    <p><b>Пример:</b> Петя и Вася каждый загадал числа 2 и 3 соответственно, а договорились использовать P = 2 и Q = 5.
        После этого они обменялись значениями: Вася получил 2^2 (mod 5) = 4, а Петя - 2^3 (mod 5) = 3.
        Каждый из них вновь возводит полученное число в степень своего секретного. Оба получают: 4^3 (mod 5) = 3^2 (mod
        5) = 4.</p>

    <div>
        <form method="post">{% csrf_token %}
            {% for field in form %}
            <p>

                {{field.label_tag}}
                {{field}}

                {% for error in field.errors %}
                <small style="color: red;">{{error}}</small>
                {% endfor %}

            </p><br>
            {% endfor %}
            <button type="submit">Конвертировать</button>
        </form>
        <br>
        {% if result == "введённые данные некорректны" %}
            <span style="font-size: 28px;">
                <b>Результат: </b>
            </span>
            <span style="color: red; font-size: 28px;">
                {{result}}
            </span>
        {% else %}
            <span style="font-size: 28px;">
                <b>Результат: </b>
            </span>
            <span style="font-size: 28px;">
                {{result}}
            </span>
        {% endif %}
    </div>
</div>
{% endblock %}