{% extends 'base/base.html' %}
{% load static %}

{% block styles %}
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<link rel="stylesheet" href="{% static 'styles/lessons.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h2>Шифр Виженера</h2>
    <p>Обобщённый случай шифра Цезаря, который менее известен. Классическая реализация соответствует тому, что
        выбирается слово-ключ, которое циклически повторяется до длины сообщения, если необходимо. Далее, буквы
        слова и ключа 'складываются' циклически для получения шифра (точнее, складываются соответствующие каждой букве
        числа).</p>

    <p><b>Пример:</b> 'classifiedinformation' + 'password' = 'rlskowwltdafbcipptagj' - зашифрованный текст. Как это
        получилось?</p>

    <p>
        Пароль повторяется циклически до passwordpasswordpassw.
        Например, буква ‘c’ соответствует числу 2 английского алфавита (где ‘a’ = 0). Буква ‘p’ = 15 (т.к. 16 по
        счёту с начала алфавита). ‘c’ + ‘p’ = 2 + 15 = 17 = ‘r’. Если сумма выходит за границы алфавита, то она берётся
        по модулю его
        силы (то есть если ‘y’ + ‘z’ = 24 + 25 = 49, то по модулю 26 эта сумма соответствует букве 49 - 26 = 23 =
        ‘x’).
        Аналогично и для других символов. Обобщённость относительно Цезаря заключается в том, что любой шифр Цезаря
        является шифром Виженера с ключом из одной буквы, соответствующей сдвигу.
    </p>
    <div>
        <form method="post">{% csrf_token %}
            {% for field in form %}
            <p>

                {{field.label_tag}}
                {{field}}

                {% for error in field.errors %}
                <small style="color: red;">{{error}}</small>
                {% endfor %}

            </p><br>
            {% endfor %}
            <button type="submit">Конвертировать</button>
        </form>
        <br>
        {% if result == "введённые данные некорректны" %}
            <span style="font-size: 28px;">
                <b>Результат: </b>
            </span>
            <span style="color: red; font-size: 28px;">
                {{result}}
            </span>
        {% else %}
            <span style="font-size: 28px;">
                <b>Результат: </b>
            </span>
            <span style="font-size: 28px;">
                {{result}}
            </span>
        {% endif %}
    </div>
</div>
{% endblock %}