{% extends 'base/base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="{% static 'styles/create_thread.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}
<div class="container">
    <div class="head">Создание новой темы</div>
    <form method="post">
        {% csrf_token %}
        {{form.media}}
        {% for field in form %}
        <p>
            {{field}}

            {% if field.help_text %}
            <small style="color: gray;"> {{ field.help_text }} </small>
            {% endif %}

            {% for error in field.errors %}
            <small style="color: red;">{{error}}</small>
            {% endfor %}
        </p>
        {% endfor %}
        <button type="submit">Создать</button>
    </form>
</div>
{% endblock %}