{% extends 'base/base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'styles/forum.css' %}">
<link rel="preconnect" href="https://fonts.gstatic.com">
{% endblock %}

{% block content %}
<div class="container">
    <div class="subforum">
        <div class="forum_header">
            <div class="title">
                <h3><b>Форум</b></h3>
            </div>
            <a class="create_btn" href="create"><button>Новая тема</button></a>
        </div>
        <div class="head">
            <div class="author">Тема</div>
            <div class="comments_count">Количество комментариев</div>
            <div class="creation_date">Дата создания</div>
        </div>
        {% for thread in object_list %}
        <div class="subforum-row">
            <div class="subforum-icon subforum-column center">
                <img src="{{thread.get_author.profile_picture.url}}" width="75px" height="75px">
            </div>
            <div class="subforum-description subforum-column">
                <h1><a href="thread/{{ thread.id }}">{{ thread.title }}</a></h1>
                <p>Автор: {{ thread.get_author }}</p>
            </div>
            <div class="subforum-stats subforum-column center">
                <span>{{ thread.get_comment_length }}</span>
            </div>
            <div class="subforum-info subforum-column center">
                <small>{{ thread.creation_date }}</small>
            </div>
        </div>
        <hr class="subforum-devider">
        {% endfor %}
    </div>
</div>
{% endblock %}