{% extends 'base/base.html' %}
{% load static %}
{% block styles %}
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<link rel="stylesheet" href="{% static 'styles/thread.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}
<div class="container">
    <div class="head topic">{{data.title}}</div>
    <div class="thread-row">
        <div class="thread-column">
            <div class="authors">
                <div class="username">{{author.username}}</div>
                <img src="{{author.profile_picture.url}}" width="75px" height="75px">
            </div>
        </div>
        <div class="thread-column">
            <div class="content">
                {{data.body|safe}}
            </div>
        </div>
    </div>
    <div class="head" style="margin-top: 15px;">Комментарии:</div>
    {% for comment in comments %}
        <div class="comments-container thread-row">
            <div class="thread-column">
                <div class="authors">
                    <div class="AnotherUser">{{comment.get_author.username}}</div>
                    <img src="{{comment.get_author.profile_picture.url}}" width="75px" height="75px">
                </div>
            </div>
            <div class="thread-column">
                <div class="content">
                    {{comment.body|safe}}
                </div>
            </div>
        </div>
        {% endfor %}
    <form method="post">
        {% csrf_token %}
        {{form.media}}
        {{form.body}}
        <button type="submit">Ответить</button>
    </form>
</div>
{% endblock %}