{% extends 'base/base.html' %}
{% load static %}
{% block styles %}
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<link rel="stylesheet" href="{% static 'styles/front_page.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}
<div class="container">
    <h2 class="display-5">Добро пожаловать на Cipher!</h2>
    <p><img src="https://upload.wikimedia.org/wikipedia/commons/7/7b/Bundesarchiv_Bild_183-2007-0705-502%2C_Chiffriermaschine_%22Enigma%22.jpg"
            align="right" width="400px">
        Интернет, несомненно, является основой всей современной инфраструктуры. Однако многие люди в XXI веке до сих пор
        не придают особенного значения собственной кибербезопасности, что не может не обеспокоить. Именно поэтому
        появился данный проект, главная цель которого - популяризация криптографии в понятной и доступной форме для
        любого желающего.
        <br>
        <br>
        На данном сайте находятся различные статьи по шифрам и кодировкам, к которым прикреплены соответствующие
        калькуляторы для Вашего ознакомления. Также у нас есть форум, где можно пообщаться с единомышленниками.
    </p>
</div>

<div class="container">
    <h2 class="display-5">Наши преимущества</h2>
    <div class="row g-5 py-5">
        <div class="bg-light box-shadow mx-auto text-center mobile_square">
            <i class="fa fa-users fa-9x"></i>
            <p style="color:#404040">Дружелюбная атмосфера и новые знакомства</p>
        </div>
        <div class="bg-light box-shadow mx-auto text-center mobile_square">
            <i class="fas fa-money-bill-wave fa-9x"></i>
            <p style="color:#404040">Наш сайт абсолютно бесплатен</p>
        </div>
        <div class="bg-light box-shadow mx-auto text-center mobile_square">
            <i class="fas fa-align-right fa-9x"></i>
            <p style="color:#404040">Наши статьи простые и понятные каждому</p>
        </div>
    </div>
</div>
{% endblock %}