{% extends 'base/base.html' %}
{% load static %}

{% block styles %}
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<link rel="stylesheet" href="{% static 'styles/lessons_list.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row g-5 py-5">
        <div class="col-md-4 d-flex align-items-start">
            <div class="card text-black mb-4 box-shadow">
                <div class="card-header">
                    <h2 class="my-0 font-weight-normal">ASCII</h2>
                </div>
                <div class="card-body">
                    <p>Это один из стандартных методов кодирования текста, лежащий в основании современного Unicode,
                        именно поэтому с него и начинается экскурс.</p>
                    <div class="login-gap">
                        <hr class="hr-gap">
                    </div>
                    <a href="{% url 'ascii' %}" class="icon-link">
                        Читать далее
                        <svg class="bi" width="1em" height="1em">
                            <use xlink:href="#chevron-right">
                                <use xlink:href="#chevron-right">
                                    #shadow-root (closed)
                                    <svg id="chevron-right" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                            d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z">
                                        </path>
                                    </svg>
                                </use>
                            </use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4 d-flex align-items-start">
            <div class="card mb-4 box-shadow">
                <div>
                    <div class="card-header">
                        <h2 class="my-0 font-weight-normal">Base64</h2>
                    </div>
                    <div class="card-body">
                        <p>Для обмена информацией между различными системами необходим универсальный язык...</p>
                        <div class="login-gap">
                            <hr class="hr-gap">
                        </div>
                        <a href="{% url 'base64' %}" class="icon-link">
                            Читать далее
                            <svg class="bi" width="1em" height="1em">
                                <use xlink:href="#chevron-right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 d-flex align-items-start">
            <div class="card mb-4 box-shadow">
                <div>
                    <div class="card-header">
                        <h2 class="my-0 font-weight-normal">Шифр Цезаря</h2>
                    </div>
                    <div class="card-body">
                        <p>Ознакомившись с основами кодированиями, перейдём к самому известному и базовому шифру.</p>
                        <div class="login-gap">
                            <hr class="hr-gap">
                        </div>
                        <a href="{% url 'caesar' %}" class="icon-link">
                            Читать далее
                            <svg class="bi" width="1em" height="1em">
                                <use xlink:href="#chevron-right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 d-flex align-items-start">
            <div class="card mb-4 box-shadow">
                <div>
                    <div class="card-header">
                        <h2 class="my-0 font-weight-normal">Шифр Виженера</h2>
                    </div>
                    <div class="card-body">
                        <p>От простого к сложному. Так же и здесь. Обобщим шифр Цезаря и приблизимся к теме
                            симметричного шифрования.</p>
                        <div class="login-gap">
                            <hr class="hr-gap">
                        </div>
                        <a href="{% url 'vigenere' %}" class="icon-link">
                            Читать далее
                            <svg class="bi" width="1em" height="1em">
                                <use xlink:href="#chevron-right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 d-flex align-items-start">
            <div class="card mb-4 box-shadow">
                <div>
                    <div class="card-header">
                        <h2 class="my-0 font-weight-normal">XOR</h2>
                    </div>
                    <div class="card-body">
                        <p>Компьютер работает в двоичной системе. Симметричное шифрование - самое простое. Почему же эти
                            две вещи не объединить?</p>
                        <div class="login-gap">
                            <hr class="hr-gap">
                        </div>
                        <a href="{% url 'xor' %}" class="icon-link">
                            Читать далее
                            <svg class="bi" width="1em" height="1em">
                                <use xlink:href="#chevron-right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 d-flex align-items-start">
            <div class="card mb-4 box-shadow">
                <div>
                    <div class="card-header">
                        <h2 class="my-0 font-weight-normal">Диффи-Хеллман</h2>
                    </div>
                    <div class="card-body">
                        <p>Ознакомимся теперь с основным принципом работы для асимметричного шифрования - возведением в
                            степень.</p>
                        <div class="login-gap">
                            <hr class="hr-gap">
                        </div>
                        <a href="{% url 'diffiehellman' %}" class="icon-link">
                            Читать далее
                            <svg class="bi" width="1em" height="1em">
                                <use xlink:href="#chevron-right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 d-flex align-items-start">
            <div class="card mb-4 box-shadow">
                <div>
                    <div class="card-header">
                        <h2 class="my-0 font-weight-normal">MD5</h2>
                    </div>
                    <div class="card-body">
                        <p>Перейдём к хешированию, которое плотно связано с асимметричным шифрованием и безопасностью.
                        </p>
                        <div class="login-gap">
                            <hr class="hr-gap">
                        </div>
                        <a href="{% url 'md5' %}" class="icon-link">
                            Читать далее
                            <svg class="bi" width="1em" height="1em">
                                <use xlink:href="#chevron-right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 d-flex align-items-start">
            <div class="card mb-4 box-shadow">
                <div>
                    <div class="card-header">
                        <h2 class="my-0 font-weight-normal">SHA1</h2>
                    </div>
                    <div class="card-body">
                        <p>Поговорим ещё немножко о хешах и о том, почему они не так хорошо работают.</p>

                        <div class="login-gap">
                            <hr class="hr-gap">
                        </div>
                        <a href="{% url 'sha1' %}" class="icon-link">
                            Читать далее
                            <svg class="bi" width="1em" height="1em">
                                <use xlink:href="#chevron-right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}