{% extends 'base/base.html' %}
{% load static %}

{% block styles %}
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<link rel="stylesheet" href="{% static 'styles/account.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-5 mx-auto">
            <div id="first">
                <div class="signinform form ">
                    <div class="logo mb-3">
                        <div class="col-md-12 text-center">
                            <h1>Ваш профиль</h1>
                        </div>
                    </div>
                    <div>
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}

                            {% for field in form %}
                            <p>

                                {{field.label_tag}}<br>
                                {{field}}

                                {% if field.help_text %}
                                <small style="color: gray;"> {{ field.help_text }} </small>
                                {% endif %}

                                {% for error in field.errors %}
                                <small style="color: red;">{{error}}</small>
                                {% endfor %}
                            </p>
                            {% endfor %}

                            <img src="{{user.profile_picture.url}}" width="150" height="150">

                            <div class="col-md-12 text-center ">
                                <button type="submit">Редактировать</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}