{% extends 'base/base.html' %}
{% load static %}

{% block styles %}
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<link rel="stylesheet" href="{% static 'styles/account.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-5 mx-auto">
            <div id="first">
                <div class="signinform form ">
                    <div class="logo mb-3">
                        <div class="col-md-12 text-center">
                            <h1>Авторизация</h1>
                        </div>
                    </div>
                    <form method="post">{% csrf_token %}
                        <div class="form-group">
                            <label>Имя пользователя</label><br>
                            {{form.username}}
                            {% for error in form.username.errors %}
                            <small style="color: red;">{{error}}</small>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            <label>Пароль</label><br>
                            {{form.password}}
                            {% for error in form.password.errors %}
                            <small style="color: red;">{{error}}</small>
                            {% endfor %}
                        </div>
                        <div class="col-md-12 text-center ">
                            <button type="submit">Войти</button>
                        </div>
                        <div class="col-md-12 ">
                            <div class="login-gap">
                                <hr class="hr-gap">
                            </div>
                        </div>
                        <div class="form-group">
                            <p class="text-center">Ещё не имеете аккаунт? Зарегистрируйтесь <a
                                    href="{% url 'register' %}">здесь</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}