{% extends 'base/base.html' %}
{% load static %}

{% block styles %}
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<link rel="stylesheet" href="{% static 'styles/account.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-5 mx-auto">
            <div id="first">
                <div class="signinform form ">
                    <div class="logo mb-3">
                        <div class="col-md-12 text-center">
                            <h1>Регистрация</h1>
                        </div>
                    </div>
                    <form method="post" action="">
                        {% csrf_token %}

                        {% for field in form %}
                        <p>
                            {{field.label_tag}}<br>
                            {{field}}<br>

                            {% if field.help_text %}
                            <small style="color: gray;"> {{ field.help_text }} </small>
                            {% endif %}

                            {% for error in field.errors %}
                            <small style="color: red;">{{error}}</small>
                            {% endfor %}
                        </p>
                        {% endfor %}


                        <div class="col-md-12 text-center ">
                            <button type="submit">Зарегистрироваться</button>
                        </div>

                        <div class="col-md-12 ">
                            <div class="login-gap">
                                <hr class="hr-gap">
                            </div>
                        </div>
                        <div class="form-group">
                            <p class="text-center">Уже имеете аккаунт? Войдите <a href="{% url 'login' %}">здесь</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}