body {
    padding-top: 4.2rem;
    background-color: rgb(0, 0, 0);
}

h1,
h2,
h3 {
    font-family: 'Montserrat Alternates', sans-serif;
}

.signinform {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    outline: 0;
    max-width: 500px;
    text-align: center;
    padding: 10px;
    color: #FEFEFE;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .05);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 5px 1px #ddd;
}

.signinform button {
    margin-top: 20px;
    border-radius: 50px;
}

.login-gap {
    position: relative;
    color: #aaa;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.hr-gap {
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}