@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,400;0,600;1,400&display=swap');

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10%;
    position: relative;
    z-index: 2;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.7);
}

.navbar-brand {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
}

.navbar-base {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    z-index: 2;
}

button {
    padding: 9px 25px;
    background: rgba(0, 212, 255, 1);
    border: none;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
    z-index: 2;
    margin-right: 10px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
}

button:hover {
    background: rgba(0, 212, 255, 0.6);
}

.navbar-button {
    height: 48px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    margin-top: 20px;
    width: 100%;
    bottom: 0;
    left: 0;
}

.icons {
    display: flex;
    list-style: none;
    width: 550px;
    height: 90px;
    padding: 16px;
    margin-bottom: 16px;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 70px;
    border: 3px solid #fff;
    margin-right: 36px;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.5s linear;
}

.icon .fa {
    color: #fff;
    font-size: 30px;
    transition: all 0.5s linear;
}

.icon:hover {
    background: #fff;
    box-shadow: 0 0 30px 3px #fff;
}

.icon:hover .fa {
    color: rgba(0, 212, 255, 1);
}

canvas {
    top: 0;
    left: 0;
    position: fixed;
    z-index: -1;
}