* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Monaco", monospace;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: rgb(0, 0, 0);
}

.container {
    margin-top: 40px;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    pointer-events: auto;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    outline: 0;
    width: 100%;
    padding: 10px;
    color: #FEFEFE;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .05);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 5px 1px #ddd;
}

.head {
    display: flex;
    background-color: #2C2C2C;
    padding: 5px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: bold;
    font-size: 26px;
    color: #fff;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.thread_title {
    width: 100%;
    display: flex;
    padding: 5px;
    font-size: 20px;
    margin: 0 auto;
}

.thread_title::placeholder {
    color: #b8b8b8;
    font-size: 1.2em;
}

.django-ckeditor-widget {
    width: 100%;
    resize: none;
}

button {
    float: right;
}