* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 20px;
    font-family: 'Montserrat Alternates', sans-serif;
    background-color: rgb(0, 0, 0);
    color: #FEFEFE;
}

a {
    color: #00d4ff;
    font-weight: bolder;
    text-decoration: none;
}

h1 {
    font-size: 20px;
    font-weight: bolder;
}

.container {
    margin: 20px auto;
    margin-top: 60px;
    padding: 20px;
    font-size: 20px;
    font-family: "Monaco", monospace;
    color: #FEFEFE;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .05);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 5px 1px #ddd;
}

.subforum {
    margin-top: 10px;
}

.title {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 700;
    display: inline-block;
    margin-left: 10px;
}

.forum_header {
    margin-bottom: 15px;
}

.create_btn {
    float: right;
}

.subforum-title {
    background-color: #292B2E;
    padding: 5px;
    border-radius: 5px;
    margin: 4px;
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.subforum-row {
    display: grid;
    grid-template-columns: 7% 30% 23% 20%;
    justify-content: center;
}

.subforum-column {
    padding: 10px;
    margin: 4px;
    border-radius: 5px;
    background-color: #111314;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.subforum-icon {
    font-size: 45px;
    background: #fff;
}

.subforum-devider {
    display: none;
}

/* for the smartphone */
@media screen and (max-width: 460px) {
    .container {
        margin: 10px;
        padding: 10px;
    }

    .subforum-row {
        display: grid;
        grid-template-columns: 25% 75%;
        grid-template-rows: 65% 35%;
    }

    .subforum-stats {
        font-size: 12px;
    }

    .subforum-devider {
        display: block;
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(190, 190, 190, 0), rgba(255, 255, 255, 0.75), rgba(190, 190, 190, 0));
    }
}

/* for the tablets */
@media screen and (min-width: 460px) and (max-width:1024px) {
    .container {
        margin: 15px;
        padding: 15px;
    }

    .subforum-row {
        display: grid;
        grid-template-columns: 10% 60% 10% 20%;
    }

    .subforum-icon i {
        font-size: 35px;
    }

    html {
        font-size: 16px;
    }

    h1 {
        font-size: 18px;
    }
}

.head {
    display: flex;
    background-color: #2C2C2C;
    padding: 5px;
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    width: 80%;
    margin: 0 auto;
}

.author {
    flex: 37%;
}

.comments_count {
    flex: 27%;
    text-align: center;
}

.creation_date {
    flex: 16%;
    text-align: center;
}