* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Monaco", monospace;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #000517;
}

.image-blur {
    transition: 2s;
    filter: blur(2px) brightness(20%) saturate(5%);
}

.container {
    margin: 20px auto;
    margin-top: 180px;
    padding: 20px;
    font-size: 20px;
    color: #FEFEFE;
    box-shadow: 0 0 1rem 0 rgb(0 0 0 / 20%);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .05);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 5px 1px #ddd;
}

.container i {
    color: #404040;
}

.mobile_square {
    width: 270px;
    height: 270px;
    border-radius: 21px 21px 21px 21px;
}

@media screen and (max-width: 460px) {
    .mobile_square {
        width: 130px;
        height: 130px;
        border-radius: 12px 12px 12px 12px;
        font-size: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .container i {
        font-size: 80px;
    }

}

@media screen and (min-width: 460px) and (max-width:1024px) {
    .mobile_square {
        width: 250px;
        height: 250px;
        border-radius: 16px 16px 16px 16px;
        font-size: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .container i {
        font-size: 160px;
    }
}

button {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    z-index: 2;
}