body {
    font-family: "Monaco", monospace;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background: linear-gradient(to bottom, rgb(0, 3, 16), #16171f);
}

.icon-link {
    display: inline-flex;
    align-items: center;
    color: #0d6efd;
}

.icon-link>.bi {
    margin-top: .125rem;
    margin-left: .125rem;
    transition: transform .25s ease-in-out;
    fill: currentColor;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

img,
svg {
    vertical-align: middle;
}

.container {
    margin-top: 60px;
    padding: 20px;
    font-size: 20px;
    color: #FEFEFE;
    box-shadow: 0 0 1rem 0 rgb(0 0 0 / 20%);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .05);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 5px 1px #ddd;
}

button {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    z-index: 2;
}

.icon-link:hover>.bi {
    transform: translate(0.5rem);
}

.result {
    color: rgba(0, 212, 255, 1);
    justify-content: center;
    border: none;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 5rem;
}