body {
    font-family: 'Montserrat Alternates', sans-serif;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background: #000;
}

.icon-link>.bi {
    margin-top: .125rem;
    margin-left: .125rem;
    transition: transform .25s ease-in-out;
    fill: currentColor;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

img,
svg {
    vertical-align: middle;
}

.container {
    padding: 40px;
}

button {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    z-index: 2;
}

.icon-link:hover>.bi {
    transform: translate(0.5rem);
}

.card:hover {
    transform: translateY(-30px);
    transition: 0.5s;
    box-shadow: 0 0 30px 3px #6d97c6;
}

.container .card {
    width: 280px;
    height: 350px;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    color: #FEFEFE;
    box-shadow: 0 0 1rem 0 rgb(0 0 0 / 20%);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .05);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 5px 1px #ddd;
}

a {
    color: #fff;
}

.container .card .card-header {
    background: #202d4f;
    border-radius: 20px;
    margin-top: 5px;
    margin-left: 7px;
    margin-right: 7px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.login-gap {
    color: #aaa;
    padding-bottom: 10px;
}

.hr-gap {
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.icon-link {
    display: inline-flex;
    align-items: center;
}