* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(0, 0, 0);
    color: #fff;
}

.container {
    margin: 20px auto;
    margin-top: 60px;
    padding: 20px;
    font-size: 20px;
    font-family: "Monaco", monospace;
    color: #FEFEFE;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .05);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 5px 1px #ddd;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-clip: padding-box;
}

.head {
    display: flex;
    background-color: #2C2C2C;
    padding: 5px;
    font-weight: bold;
    color: #fff;
}

.topic {
    font-size: 26px;
    font-family: 'Montserrat Alternates', sans-serif;
}

.authors {
    text-align: center;
    color: #00d4ff;
    font-size: 22x;
}

.thread-row {
    display: grid;
    grid-template-columns: 10% 90%;
    justify-content: center;
}

.thread-column {
    padding: 10px;
    margin: 4px;
    border-radius: 5px;
    background-color: #111314;
}

.comments-container {
    margin-top: 15px;
}

.django-ckeditor-widget {
    width: 100%;
    resize: none;
    margin-top: 15px;
}

button {
    float: right;
}