{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <title>{{ page_name }}</title>
    <link rel="stylesheet" href="{% static 'styles/base.css' %}">
    {% block styles %}
    {% endblock %}
    <script src="https://kit.fontawesome.com/7214c50773.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        {% include 'base/menu.html' %}
    </header>

    <main>
        <canvas></canvas>
        {% block content %} {% endblock %}
    </main>

    <footer>
        <ul class="icons">
            <li class="icon">
                <i class="fa fa-facebook"></i>
            </li>
            <li class="icon">
                <i class="fa fa-twitter"></i>
            </li>
            <li class="icon">
                <i class="fa fa-google-plus"></i>
            </li>
            <li class="icon">
                <i class="fa fa-reddit"></i>
            </li>
            <li class="icon">
                <a class="fa fa-gitlab" href="https://gitlab.com/secretmaxim345/cipher-site"></a>
            </li>
        </ul>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous">
    </script>
    <script src="{% static 'scripts/matrix.js' %}"></script>
    {% block scripts %} {% endblock %}
</body>

</html>