<nav class="navbar navbar-expand-md navbar-base navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Cipher</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link" href="/">Главная страница</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'lessons' %}">Уроки</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'forum' %}">Форум</a>
                </li>
            </ul>
            {% if user.is_authenticated %}
                <a class="cta" href="{% url 'edit_profile' %}">
                    <button>
                        Добрый день,
                        {{ user.username }}
                        <img src="{{user.profile_picture.url}}" width="30" height="30" style="border-radius: 15px;">
                    </button>
                </a>
                <a class="cta" href="{% url 'logout' %}"><button class="navbar-button">Выйти</button></a>
            {% else %}
                <a class="cta" href="{% url 'login' %}"><button class="navbar-button">Войти</button></a>
            {% endif %}
        </div>
    </div>
</nav>